{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<style>
		.asteriskField {
    		display: none;
		}
	</style>
	<div class="content-section" style="background-color:ffffff;justify-content: center;margin-left: 25%;margin-top: 0px;width: 50%;">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Register Now!</legend>
				{{form|crispy}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit" style="width: 100%;">Sign Up</button>
			</div>

			<div class="border-top pt-3">
				<small class="text-muted">
					Already have an account? <a class="ml-2" href="#">Sign In</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}