{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
    <div class="center content-section" style="background-color:ffffff;">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Patient Record</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" style="width:100%;" type="submit">Add</button>
            </div>
            <div class="border-top pt-3" style="text-align: center;">
				<small class="text-muted" style="font-size: 15px;">
					<a class="ml-2" style = "text-decoration: none;color: #428bca;" href="{% url 'filldiagnosis' %}">Click here if patient already exists</a>
				</small>
			</div>
        </form>
    </div>
{% endblock content %}